/***** BASE STYLES *****/
body{
  background-color: #FFFFFF;
  font-family: 'Amatic SC', cursive;
  height: 100%;
}


/*
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Abril Fatface', cursive;
*/


h1 {
  font-size: calc(20px + 1vw);
}

h2 {
  font-size: calc(30px + 0.5vw);
}

h3 {
  font-size: calc(20px + 0.5vw);
}

p {
  font-size: calc(15px + 0.5vw);
}

/***** GRID *****/

.full-width {
  margin: 0 auto;
  width: 100%;
}

.half-width {
  float: left;
  width: 50%;
}

.third-width {
  float: left;
  width: 33%;
}

.two-third-width {
  float: left;
  width: 66%;
}


/***** HEADER *****/

header {
  background-color: #FFFFFF;
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  position: sticky;
  top: 0px;
}

header img {
  float: left;
  margin: 0px;
  padding: 25px 5px 0px 0px;
}


header h1 {
  margin-top: 22px;
  padding-top: 15px;
  text-transform: uppercase;
}

nav {
  float: right; /* to create a right aligned nav bar */
}

nav ul li {
  display: inline-block;
  font-size: calc(25px + 0.5vw); /* making nav bar letters responsive */
  margin: 0px;
  padding-top: 15px;
  text-transform: uppercase;
}

nav ul li a {
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 30px;
  text-decoration: none;
}

/***** HERO Landing PAGE *****/

#hero {
  /* center = puts the image in the center, fixed = creates the effect of parralax */
  background: url('../img/streetart-projects.jpg') no-repeat center center fixed;
  border: 1px solid transparent;
  height: 90vh;
}

#hero_logo {
  padding: 1vh 0 0 80vw;
}

#hero-name {
  color: #952116;
  font-size: calc(110px + 1vw);
  padding: 200px 0 0 30px;
  text-shadow: 4px 4px #B56D31;
}

/***** PROJECTS *****/

#projects {
  float: left;
  height: auto;
  padding-bottom: 50px;
}


#projects h2 {
  padding-top: 50px;
  text-align: center; /* to center the projects headline */
}

.project-divs {
  border: 1px solid transparent;
  height: 300px;
  margin: 10px 30px 10px 30px;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.project-divs img {
  max-height: 100%; /* to fit the images to the size of the divs */
  max-width: 100%; /* to fit the images to the size of the divs */
}

#image1 {
  background: url('../img/streetart-projects.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 250px;
  width: 150px;
}


#image2 {
  background: url('../img/fotos/Streetart2.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 160px;
  padding-top: 50px;
  width: 200px;
}

#image3 {
  background: url('../img/fotos/Streetart3.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 200px;
  width: 100px;
}

#image4 {
  background: url('../img/fotos/Streetart1.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 200px;
  width: 100px;
}

#image5 {
  background: url('../img/landscape-projects.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 150px;
  width: 250px;
}


#image6 {
  background: url('../img/fotos/landscape1.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 160px;
  padding-top: 50px;
  width: 200px;
}

#image7 {
  background: url('../img/fotos/landscape2.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 200px;
  width: 100px;
}

#image8 {
  background: url('../img/fotos/landscape3.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 200px;
  width: 100px;
}

#image9 {
  background: url('../img/fotos/landscape4.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 100px;
  width: 100px;
}

#image10 {
  background: url('../img/fotos/landscape5.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 150px;
  width: 100px;
}

#image11 {
  background: url('../img/macros_structures.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 100px;
  width: 100px;
}

#image12 {
  background: url('../img/fotos/macros1.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 150px;
  width: 200px;
}

#image13 {
  background: url('../img/fotos/macros2.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 250px;
  width: 100px;
}

#image14 {
  background: url('../img/fotos/macros3.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 200px;
  width: 150px;
}

#image15 {
  background: url('../img/fotos/macros4.jpg') no-repeat center center ;
  background-size: cover;
  float:left;
  height: 150px;
  width: 100px;
}
/**** ABOUT *****/

#about {
  background: url('../img/about_me_background_white.png') no-repeat center top ;
  background-size: cover;
  clear: both; /* so that the background image appears in the correct section - needed due to float in projects section */
  height: 400px;
}

#about h2 {
  padding-left: 50px;
  text-align: left;
}

#about-text {
  margin-left: 50px;
  width: 30vw;
}


/***** CONTACT *****/
#contact {
  text-align: center;
}

#contact h2 {
  padding-top: 50px;
  text-align: center;
}

#social-list ul {
  margin: 0px;
  padding: 0px;
}

#social-list ul li {
  display: inline-block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#contact img {
  width: 50px;
}


/***** FOOTER *****/

footer p {
  clear: both; /* needed due to the float in the contact section */
  padding-top: 50px;
  text-align: center;
}
