/***** BASE STYLES *****/
body{
  background-color: #FFFFFF;
  font-family: 'Amatic SC', cursive;
  height: 100%;
}


/*
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Abril Fatface', cursive;
*/


h1 {
  font-family:
}

h2 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}



/***** GRID *****/

.full-width {
  margin: 0 auto;
  width: 100%;
}

.half-width {
  float: left;
  width: 50%;
}

.third-width {
  float: left;
  width: 33%;
}

.two-third-width {
  float: left;
  width: 66%;
}


/***** HEADER *****/

header {
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #FFFFFF;
  position: sticky;
  top: 0px;
}

header img {
  padding: 15px 5px 0px 0px;;
  margin: 0px;
  float: left;
}


header h1 {
  text-transform: uppercase;
  font-size: calc(20px + 1vw);
  margin-top: 22px;
}

nav {
  float: right; /* to create a right aligned nav bar */
}

nav ul li {
  display: inline-block;
  padding-top: 15px;
  margin: 0px;
  font-size: calc(25px + 0.5vw); /* making nav bar letters responsive */
  text-transform: uppercase;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

/***** HERO *****/

#hero {
  height: 100vh;
  /* center = puts the image in the center, fixed = creates the effect of parralax */
  background: url('../img/streetart-projects.jpg') no-repeat center center fixed;
}

#hero_logo {
  padding: 1vh 0 0 80vw;
}

#hero-name {
  color: #952116;
  font-size: calc(110px + 1vw);
  padding: 0 0 0 20px;
  text-shadow: 4px 4px #B56D31;
}

/***** Projects *****/

#projects {
  height: auto;
  float: left;
}

#projects h2 {
  text-align: center; /* to center the projects headline */
}

.project-divs {
  height: 300px;
  padding: 0px 0px 0px 0px;
  margin: 10px 30px 10px 30px;
}

.project-divs img {
  max-height: 100%; /* to fit the images to the size of the divs */
  max-width: 100%; /* to fit the images to the size of the divs */
}
